:root {
  margin: 0;
  padding: 0;
  display: block;
}

a,
a:hover,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
}
body {
  font-family: "Nunito", sans-serif;
  margin: 0;
  text-align: center;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  color: black;
  background-color: #f8f9fc;
  font-family: "Nunito", sans-serif;
}

.sidebar {
  background-color: #476dda;
  user-select: initial;
  width: 225px;
  padding-top: 5rem;
  padding-inline: 2rem;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  font-size: 1rem;
}

.box-sidebar {
  place-items: center;
  gap: 1rem;
}
.box-sidebar image {
  width: 24px;
  height: 24px;
}

.sidebar-header {
  margin-bottom: 5rem;
}

.sidebar-button {
  padding: 0.25rem;
  transition: all 0.2s ease-in-out;
}

.sidebar-button:hover {
  transform: scale(1.1);
}

.loader {
  width: 100%;
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader img {
  width: 64px;
  height: 64px;
}

.header {
  height: 75px;
  display: flex;
  text-align: center;
  background-color: #ffffff;
  justify-content: center;
  box-shadow: 1 3 10px rgba(0, 0, 0, 0.1);
}
.footer {
  height: 150px;
  position: absolute;
  bottom: 0;
  width: calc(100% - 225px);
  display: flex;
  text-align: center;
  background-color: #ffffff;
  justify-content: center;
}

.footer h1 {
  padding-top: 3rem;
}

.tabla-alumnos {
  min-height: 400px;
}

.tabla-candidatos {
  min-height: 400px;
}

.alumnno {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  gap: 10px;
}

.boton-salida {
  position: absolute;
  margin-top: 0.5rem;
  padding-top: 0.5rem;
  margin-left: auto;
  top: 4rem;
  right: 3rem;
  width: 100px;
  height: 50px;
  background-color: rgb(212, 208, 208);
  transition: all 0.5s;
  user-select: none;
  cursor: pointer;
}

.boton-salida:hover {
  background-color: black;
  color: white;
}

.boton-header {
  padding-top: 1rem;
  margin-left: auto;
  margin-right: 1rem;
  width: 100px;
  background-color: rgb(212, 208, 208);
  height: 50px;
  transition: all 0.5s;
  user-select: none;
  cursor: pointer;
  right: 0;
  top: 5rem;
  border-radius: 3px;
}

.boton-header:hover {
  background-color: black;
  color: white;
}

.table-row-selector {
  user-select: none;
  cursor: pointer;
  transition: all 0.15s ease-in;
}

.table-row-selector:hover {
  transform: scale(1.01);
}

.estudiantes-title {
  width: 100%;
  height: 50px;
}

.tabla-body {
  padding: 1rem;
  padding-bottom: 2rem;
  background-color: #f8f9fc;
}

.square {
  width: 10px;
  height: 10px;
  background-color: red;
}
